/MobileTestTaskGora.xcodeproj/project.xcworkspace/xcuserdata/dnv.xcuserdatad/UserInterfaceState.xcuserstate
/MobileTestTaskGora.xcodeproj/xcuserdata/dnv.xcuserdatad/xcschemes/xcschememanagement.plist
